experiment:
  data_config:
    strategy: fixed
    dataloader: VisualLoader
    dataset_path: ../data/{0}/trainingset.tsv
    train_path: ../data/{0}/trainingset.tsv
    validation_path: ../data/{0}/validationset.tsv
    test_path: ../data/{0}/testset.tsv
    side_information:
      visual_features: ../data/{0}/original/cnn_features_vgg19_fc2.npy
      visual_pca_features: ../data/{0}/original/category_features_vgg19_fc2_pca128.npy
      visual_feat_map_features: ../data/{0}/original/category_features_vgg19_fc2_pca128.npy
      item_mapping: ../data/{0}/visual_feats.tsv
      images_src_folder: ../data/{0}/original/images/
      output_image_size: (224,224)
  dataset: amazon_baby
  top_k: 50
  config_test: True
  evaluation:
    cutoffs: [10]
    simple_metrics: [nDCG, Precision, Recall, ItemCoverage, HR, MRR, MAP, F1, Gini, SEntropy, EFD, EPC, LAUC]
    relevance_threshold: 1
    paired_ttest: True
  gpu: -1
  models:
    MostPop:
      meta:
        save_recs: True
#    Random:
#      meta:
#        save_recs: True
#    BPRMF:
#      meta:
#        hyper_max_evals: 10
#        hyper_opt_alg: tpe
#        validation_rate: 10
#        verbose: True
#        save_weights: False
#        save_recs: True
#        validation_metric: nDCG
#        restore_epoch: -1
#      lr: 0.05
#      epochs: 50
#      embed_k: [10,50,100,125,150,200]
#      bias_regularization: 0
#      user_regularization: [0.0025,0.005,0.01]
#      positive_item_regularization: [0.0025,0.005,0.01]
#      negative_item_regularization: [0.00025,0.0005,0.001]
#      update_negative_item_factors: True
#      update_users: True
#      update_items: True
#      update_bias: True
    VBPR:
      meta:
        verbose: True
        validation_rate: 10
        save_weights: False
        save_recs: False
        validation_metric: nDCG@10
        restore_epoch: -1
      lr: 0.0005
      epochs: 50
      factors: 100
      factors_d: 20
      batch_size: 128
      l_w: 0.000025
      l_b: 0
      l_e: 0.002
#    DeepStyle:
#      meta:
#        verbose: True
#        validation_rate: 10
#        save_weights: False
#        save_recs: False
#        validation_metric: nDCG@10
#        restore_epoch: -1
#      lr: 0.0005
#      epochs: 50
#      factors: 100
#      batch_size: 128
#      l_w: 0.000025
#    ACF:
#      meta:
#        verbose: True
#        validation_rate: 1
#        save_weights: False
#        save_recs: False
#        validation_metric: nDCG@10
#        restore_epoch: -1
#      lr: 0.0005
#      epochs: 2
#      factors: 200
#      batch_size: 128
#      l_w: 0.000025
#      layers_component: (64, 1)
#      layers_item: (64, 1)
#    DVBPR:
#      meta:
#        verbose: True
#        validation_rate: 1
#        save_weights: False
#        save_recs: False
#        validation_metric: nDCG
#        restore_epoch: -1
#      lr: 0.0001
#      epochs: 3
#      factors: 100
#      batch_size: 128
#      lambda_1: 0.0001
#      lambda_2: 1.0
    VNPR:
      meta:
        verbose: True
        save_recs: False
        save_weights: True
        validation_rate: 5
        validation_metric: nDCG
        restore: False
      mf_factors: 300
      mlp_hidden_size: (128, 64, 1)
      prob_keep_dropout: 0.6
      batch_size: 1024
      epochs: 80
      lr: 0.0001
      l_w: 0.0000001
      l_v: 0.000001